{% extends 'base.html' %}
{% block title %}{% endblock %}


{% block content %}

<div class="row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-6">

			<div class="panel-group">
    			<div class="panel panel-default" style="margin-top: 50px;" >
    				<div class="panel-heading" style="text-align:center;"><h4>Change Password</h4></div>
    				<div class="panel-body">
    					<form method=post ">
    						{% csrf_token %}
    						{{ form.as_p }}
    						<button type="submit" class="btn btn-default">Save changes</button>
    					</form>
    				</div>
    			</div>
    		</div>
    		{% if messages %}
              	<p class="alert alert-info" >{%for message in messages%}{%if forloop.first%}{{message}}{%endif%}{%endfor%}</p>
       		{% endif %}
		</div>
		<div class="col-sm-3">
		</div>		
	</div>
<script type="text/javascript">
	$('input[type=password]').addClass('form-control')
</script>
{% endblock %}




	
